@{ 
    ViewBag.Title = "Bookings";
}

<style type="text/css">
    body {
        background: lightgrey !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<h1>Bookings</h1>
<p>Important things go here. Go to the Bookings.cshtml file to add or change. :)</p>
