@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    222 Blueberry Lane<br />
    Oakland, MD 21550<br />
    <abbr title="Phone">P:</abbr>
    (301) 501-6957
</address>

<address>
    <strong>Support:</strong>   <a class="text-link" href="mailto:Matthew.Slone@Outlook.com">
                                 Matthew.Slone@Outlook.com</a>
</address>