@model MyGreatCourseProject.WebUI.Models.Services
@{ 
    ViewBag.Title = "Services";
}

<h2>@ViewBag.Title </h2>
<h3> @ViewBag.Message</h3>
<div id="ServicesCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#ServicesCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#ServicesCarousel" data-slide-to="1"></li>
        <li data-target="#ServicesCarousel" data-slide-to="2"></li>
        <li data-target="#ServicesCarousel" data-slide-to="3"></li>
        <li data-target="#ServicesCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <h3>Cleaning</h3>
            <img src="~/Media/Photos/Services_Cleaning.jpg"/>
            <div class="carousel-caption">They'll make you home sparkle again!</div>
        </div>

        <div class="item">
            <h3>Handyman</h3>
            <img src="~/Media/Photos/Services_Handyman.jpg"/>
            <div class="carousel-caption">Get your odd jobs done right.</div>
        </div>

        <div class="item">
            <h3>Plumbing</h3>
            <img src="~/Media/Photos/Services_Plumbing.jpg" />
            <div class="carousel-caption">Choose from many different plumbers.</div>
        </div>

        <div class="item">
            <h3>Electric</h3>
            <img src="~/Media/Photos/Services_Electrical.jpg" />
            <div class="carousel-caption">Electric work made easy.</div>
        </div>
        <div class="item">
            <h3>Haulaway</h3>
            <img src="~/Media/Photos/Services_Haulaway.jpg" />
            <div class="carousel-caption">Get rid of things you don't want anymore.</div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#ServicesCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#ServicesCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

