@{
    ViewBag.Title = "About";
}

<style type="text/css">
    body {
        background: lightgrey !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>My Project is called “Fixit” and it is an at home free-lance requesting service. The program will bring 
    functions allowing the user to search and request service for a given household issue. The servicer who 
    accepts the job will need to be either notified or be able to search open jobs in the area. </p>
